spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/${DB_SCHEMA}
    username: ${DB_USER}
    password: ${DB_PASS}
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
  jpa:
    show-sql: false

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${OAUTH_ISSUER_URI}

logging:
  file:
    name: logs/app.log
  level:
    root: INFO
    org.springframework.web: INFO
    org.springframework.security: DEBUG
    org.hibernate.SQL: WARN
